<div id="<%= dom_id asset %>">
  <p>
    <strong>Adquisition unit price cents:</strong>
    <%= asset.adquisition_unit_price_cents %>
  </p>

  <p>
    <strong>Adquired units:</strong>
    <%= asset.adquired_units %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= asset.name %>
  </p>

  <p>
    <strong>Adquisition date:</strong>
    <%= asset.adquisition_date %>
  </p>

  <p>
    <strong>Broker:</strong>
    <%= asset.broker %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= asset.type %>
  </p>

</div>
